@tailwind base;

h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}
a {
  @apply text-blue-700 font-semibold;
}
a:hover {
  @apply underline;
}

@tailwind components;
@tailwind utilities;

.touch-none {
  touch-action: none;
}

.touch-y {
  touch-action: pan-y;
}

.touch-auto {
  touch-action: auto;
}

.touch-manipulation {
  touch-action: manipulation;
}
